process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--7fbd82d945c06726' } }
process { withName: 'PICARD_MARKDUPLICATES' { container = 'oras://community.wave.seqera.io/library/picard:3.5.0--51fe15653ca25a7c' } }
