/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/low_pass_wgs/reports/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*{html,zip}"
        ]
    }

    withName: BWA_MEM {
        ext.args = { "-K 100000000 -Y -R ${meta.read_group}" }
    }

    withName: MOSDEPTH {
        ext.args = { if ( params.genome == "GATK.GRCh38" )
                        { "--by $chr_bed" }
                    else
                        { null }
        }
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/reports/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*{txt,csi,gz}"
        ]
    }

    withName: HMMCOPY_READCOUNTER {
        ext.args = {
            def hmmcopy_chromosomes = params.hmmcopy_chromosomes ?: params.genomes?.get(params.genome)?.hmmcopy_chromosomes
            def window = params.bin == 10 ? '--window 10000' :
                         params.bin == 50 ? '--window 50000' :
                         params.bin == 500 ? '--window 500000' :
                         params.bin == 1000 ? '--window 1000000' :
                         null
            def chromosome = null
            if ( hmmcopy_chromosomes )
            { chromosome = "--chromosome ${hmmcopy_chromosomes}" }
            else if ( params.genome == "GATK.GRCh38" )
            { chromosome = '--chromosome chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY' }
            else { chromosome = '--chromosome 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y' }
            [chromosome, window].findAll { it }.join(' ')
        }
    }

    withName: HMMCOPY_GCCOUNTER {
        ext.args = {
                    def hmmcopy_chromosomes = params.hmmcopy_chromosomes ?: params.genomes?.get(params.genome)?.hmmcopy_chromosomes
                    def window = params.bin == 10 ? '--window 10000' :
                                 params.bin == 50 ? '--window 50000' :
                                 params.bin == 500 ? '--window 500000' :
                                 params.bin == 1000 ? '--window 1000000' :
                                 null
                    def chromosome = null
                    if (hmmcopy_chromosomes )
                        { chromosome = "--chromosome ${hmmcopy_chromosomes}" }
                    else if (params.genome == "GATK.GRCh38" )
                        { chromosome = '--chromosome chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY' }
                    [chromosome, window].findAll { it }.join(' ')
            }
    }

    withName: ICHORCNA_RUN {

        ext.args = {
                        def qdnaseq_genome = params.qdnaseq_genome ?: params.genomes?.get(params.genome)?.qdnaseq_genome
                        def genomeBuild = params.ichor_genome_build ?: params.genomes?.get(params.genome)?.ichor_genome_build ?: (qdnaseq_genome ?: 'hg38')
                        def genomeStyle = params.ichor_genome_style ?: params.genomes?.get(params.genome)?.ichor_genome_style ?: (genomeBuild?.startsWith('mm') ? 'NCBI' : 'UCSC')
                        def args = [
                            "genomeBuild='${genomeBuild}'",
                            "genomeStyle='${genomeStyle}'"
                        ]
                        def mm10Chromosomes = [
                            "chrs='c(1:19)'",
                            "chrNormalize='c(1:19)'",
                            "chrTrain='c(1:19)'",
                            'flankLength=0',
                            "ploidy='2'",
                            "scStates='c()'",
                            'estimateScPrevalence=FALSE'
                        ]
                        if ( qdnaseq_genome?.startsWith('mm') ) {
                            if  ( params.ichor_purity == "cf_dna" ) {
                                args += [
                                    "normal='c(0.8, 0.95, 0.99, 0.995, 0.999)'",
                                    'maxCN=3',
                                    'estimateScPrevalence=FALSE'
                                ]
                            }
                            args += mm10Chromosomes
                        }
                        else if  ( params.ichor_purity == "cf_dna" ) {
                            args += [
                                "normal='c(0.8, 0.95, 0.99, 0.995, 0.999)'",
                                "ploidy='c(2)'",
                                'maxCN=3',
                                'estimateScPrevalence=FALSE',
                                "scStates='c()'",
                                'chrs=\'paste0("chr", c(1:22))\'',
                                'chrNormalize=\'paste0("chr", c(1:22))\'',
                                'chrTrain=\'paste0("chr", c(1:22))\''
                            ]
                        }
                        if ( params.ichor_purity_manual ) {
                            args += "normal='${params.ichor_purity_manual}'"
                        }
                        args.collect { "        ${it}" }.join(",\n") + ","
                    }
        publishDir = [
            path: { params.ichor_purity_manual ? "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}_${params.bin}/ichor_purity_manual" : "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}_${params.bin}" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: ACE {
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*filter_*"
        ]
    }

    withName: RUN_ASCAT {
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/${task.process.tokenize(':')[-1].tokenize('_')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*{pdf,search_calls.txt}"
        ]
    }


    withName: RUN_BAYES {
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/${task.process.tokenize(':')[-1].tokenize('_')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*_bcp"
        ]
    }


    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        ext.args   = { "--HISTOGRAM_WIDTH ${params.insertsizemetrics ?: 600} --MINIMUM_PCT 0.5 --VALIDATION_STRINGENCY SILENT" }
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/reports/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*{txt,pdf}"
        ]
    }

    withName: PICARD_COLLECTALIGNMENTSUMMARYMETRICS {
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.id}/low_pass_wgs/reports/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "*metrics"
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/reports/low_pass_wgs/" },
            mode: params.publish_dir_mode
        ]
    }

}
