/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Uses a synthetic chr21 dataset containing broad CN1, CN2 and CN3 regions.

    Usage:
        nextflow run . -profile test,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Synthetic chr21 low-pass WGS CNV test dataset'
    
    // Genome
    genome = 'GRCh38_chr21'
    
    // Input
    input = "${projectDir}/tests/csv/chr21_fastq.csv"
    step  = 'mapping'
    tech  = 'illumina'

    // Analysis
    tools               = 'ace,ichor'
    bin                 = 100
    ploidy              = '2'
    hmmcopy_chromosomes = 'chr21'

    // Reuse the nf-core chr21 reference.
    fasta     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta"
    fasta_fai = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta.fai"

    // Deliberately leave BWA unset: BWA_INDEX is tested.
    bwa = null

    // Custom chr21 resources
    chr_bed      = "https://raw.githubusercontent.com/chelauk/test/main/test_datasets/lp_wgs/reference/chr21/bed/chr21.bed"
    mosdepth_bed = "https://raw.githubusercontent.com/chelauk/test/main/test_datasets/lp_wgs/reference/chr21/bed/chr21.bed"
    centromere   = "https://raw.githubusercontent.com/chelauk/test/main/test_datasets/lp_wgs/reference/chr21/centromere/centromere.txt"

    gc_wig  = "https://raw.githubusercontent.com/chelauk/test/main/test_datasets/lp_wgs/reference/chr21/ichor_wigs/gc_chr21_100kb.wig"
    map_wig = "https://raw.githubusercontent.com/chelauk/test/main/test_datasets/lp_wgs/reference/chr21/ichor_wigs/map_chr21_100kb.wig"

    // QDNAseq uses its existing complete GRCh38 annotation package.
    qdnaseq_genome  = 'hg38'
    qdnaseq_package = 'QDNAseq.hg38'
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '2.h'
    ]
}
